body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIZIThvFLgHW9m9NFYacJHxZfoupAa_4n7cLuas_Asrnx5g9i7NcHcp4foVGK_hu72RjU&usqp=CAU);
    background-attachment: fixed;
    background-position: center;
    
}
#b1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0-ZNdK1znx2_xHlNrpglreFYK1zUBhNXSQ2eMZoK3oxnudDcT3QNTZTp-6syasfoUuns&usqp=CAU);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    height: 180px;
    border: 5px solid rgb(23, 20, 17);
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 50px;
    margin-left: 15%;
    margin-right:1%;
    
}
.b2{
    /* background-color: rgb(236, 234, 104); */
    background-image: url(https://m.media-amazon.com/images/I/51bO3zDfqcL._SX300_SY300_QL70_FMwebp_.jpg);
    /*background-size: cover; /* This ensures the background image covers the entire body */
    /*background-position: center; /* Centers the background image */
    /* background-repeat: no-repeat; */
    height: 700px;
    border: 7px solid #1b190f;
    width: 90%;
    border-radius: 40px;
    max-width: 85%;
    margin-left:7.5%;
    margin-bottom: 1%;
    
}
#col1{
    
    /* border: solid; */
    /* max-width: 40%; */
}
#col2{
    font-size: 55px;
    font-weight: 1000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* border: solid; */
    /* max-width: 40%; */
    /* text-align: center; */
    padding-top: 5%;

}
#navbarNav{
    padding: 10px;
    border: 2px solid rgb(20, 16, 16);
    border-radius: 10%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQckao7zFChOlYYx--KPDcKOLoyo9oVJoT_4VMMuIGZtZPPHVUAvYM8cuhojllMUGWNJhU&usqp=CAU);
   
}
#logo{
    /*background-image: url(https://as1.ftcdn.net/v2/jpg/01/85/22/18/1000_F_185221880_FKxxqGwgsLP4vnEPbHLcd2ia7s79CkjI.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;*/
    
    border: 2px solid black;
    border-radius: 50%;
    /* padding: 10%; */
}
#nav{
    
    width: 80%;
    border: 2px solid;
    border-radius: 10%;
    margin-left: 10%;
    padding: 0.5%;
    align-items: center;
}
#box{
    margin-left: auto;
    border-radius: 40px;
}
#button{
    background-color: rgb(9, 9, 13);
    border-radius: 40px;
    color: aquamarine;
}
#ex
{
    margin-top: 2%;
}
.navbar-nav{
    font-weight: 1000;
}


 /* Style for slideshow container */
 .slideshow-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  /* Style for individual slides */
  .slide {
    scroll-snap-align: start;
    width: 50vw;
    height: 50vh;
    margin: 5px;
    cursor: grab;
  }
  
  /* Style for outfit drop area */
  .outfit {
    width: 100vw;
    height: 60vh;
    border: 2px dashed #aaa;
    margin-top: 20px;
    padding: 10px;
  }

  .outfit2 {
    width: 634px;
    height: 314px;
    border: 2px dashed #aaa;
    margin-top: 34px;
    padding: 10px;
    margin-left: 40%;
  }
  /* Style for the collapse button */
  #collapseButton {
    margin-top: 10px;
  }