body{
    background-color: rgb(204, 146, 71);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIZIThvFLgHW9m9NFYacJHxZfoupAa_4n7cLuas_Asrnx5g9i7NcHcp4foVGK_hu72RjU&usqp=CAU);
    background-attachment: fixed;
    background-position: center;
    
}
#b1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0-ZNdK1znx2_xHlNrpglreFYK1zUBhNXSQ2eMZoK3oxnudDcT3QNTZTp-6syasfoUuns&usqp=CAU);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    height: 180px;
    border: 5px solid rgb(23, 20, 17);
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 50px;
    margin-left: 15%;
    margin-right:1%;
    
}
.b2{
    background-color: rgb(227, 225, 101);
    /* background-image: url(https://m.media-amazon.com/images/I/51bO3zDfqcL._SX300_SY300_QL70_FMwebp_.jpg); */
    /*background-size: cover; /* This ensures the background image covers the entire body */
    /*background-position: center; /* Centers the background image */
    /* background-repeat: no-repeat; */
    height: 1800px;
    border: 17px solid #726a40;
    width: 100%;
    border-radius: 30px;
    max-width: 90%;
    margin-left:5%;
    margin-bottom: 1%;
    
}
#col1{
    
    /* border: solid; */
    /* max-width: 40%; */
}
#col2{
    font-size: 55px;
    font-weight: 1000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* border: solid; */
    /* max-width: 40%; */
    /* text-align: center; */
    padding-top: 5%;

}
#navbarNav{
    padding: 10px;
    border: 2px solid rgb(20, 16, 16);
    border-radius: 10%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQckao7zFChOlYYx--KPDcKOLoyo9oVJoT_4VMMuIGZtZPPHVUAvYM8cuhojllMUGWNJhU&usqp=CAU);
   
}
#logo{
    /*background-image: url(https://as1.ftcdn.net/v2/jpg/01/85/22/18/1000_F_185221880_FKxxqGwgsLP4vnEPbHLcd2ia7s79CkjI.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;*/
    
    border: 2px solid black;
    border-radius: 50%;
    /* padding: 10%; */
}
#nav{
    
    width: 80%;
    border: 2px solid;
    border-radius: 10%;
    margin-left: 10%;
    padding: 0.5%;
    align-items: center;
}
#box{
    margin-left: auto;
    border-radius: 40px;
}
#button{
    background-color: rgb(9, 9, 13);
    border-radius: 40px;
    color: aquamarine;
}
#ex
{
    margin-top: 2%;
}
.navbar-nav{
    font-weight: 1000;
}
