body{
    /* background-color: rgb(237, 245, 148); */
    background-image: url(https://wallpaperaccess.com/full/1593598.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: azure;
}
.sname{
    font-size: x-large;
    color: rgb(215, 201, 75);
    margin-top: -20%;
    margin-left: 38%;


}
.sd{
    margin-top: 3%;
    font-size:x-large ;
    margin-left: 40%;
    font-weight: bold;
    color: bisque;
}
.heading{
    font-style: oblique;
    
    font-size: 50px;
    color: rgb(188, 139, 79);
    font-weight: 1000;
}